html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.uno-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.uno-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.uno-image{max-width:100%;height:auto}img{margin-bottom:-5px}a{color:inherit}
.uno-table,.uno-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.uno-table-all{border:1px solid #ccc}
.uno-bordered tr,.uno-table-all tr{border-bottom:1px solid #ddd}.uno-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.uno-table-all tr:nth-child(odd){background-color:#fff}.uno-table-all tr:nth-child(even){background-color:#f1f1f1}
.uno-hoverable tbody tr:hover,.uno-ul.uno-hoverable li:hover{background-color:#ccc}.uno-centered tr th,.uno-centered tr td{text-align:center}
.uno-table td,.uno-table th,.uno-table-all td,.uno-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.uno-table th:first-child,.uno-table td:first-child,.uno-table-all th:first-child,.uno-table-all td:first-child{padding-left:16px}
.uno-btn,.uno-button{border:none;display:inline-block;outline:0;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.uno-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.uno-btn,.uno-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.uno-disabled,.uno-btn:disabled,.uno-button:disabled{cursor:not-allowed;opacity:0.3}.uno-disabled *,:disabled *{pointer-events:none}
.uno-btn.uno-disabled:hover,.uno-btn:disabled:hover{box-shadow:none}
.uno-badge,.uno-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.uno-badge{border-radius:50%}
.uno-ul{list-style-type:none;padding:0;margin:0}.uno-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.uno-ul li:last-child{border-bottom:none}
.uno-tooltip,.uno-display-container{position:relative}.uno-tooltip .uno-text{display:none}.uno-tooltip:hover .uno-text{display:inline-block}
.uno-ripple:active{opacity:0.5}.uno-ripple{transition:opacity 0s}
.uno-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.uno-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.uno-dropdown-click,.uno-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.uno-dropdown-hover:hover .uno-dropdown-content{display:block;z-index:1}
.uno-dropdown-hover:first-child,.uno-dropdown-click:hover{background-color:#ccc;color:#000}
.uno-dropdown-hover:hover > .uno-button:first-child,.uno-dropdown-click:hover > .uno-button:first-child{background-color:#ccc;color:#000}
.uno-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0}
.uno-check,.uno-radio{width:24px;height:24px;position:relative;top:6px}
.uno-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.uno-bar-block .uno-dropdown-hover,.uno-bar-block .uno-dropdown-click{width:100%}
.uno-bar-block .uno-dropdown-hover .uno-dropdown-content,.uno-bar-block .uno-dropdown-click .uno-dropdown-content{min-width:100%}
.uno-bar-block .uno-dropdown-hover .uno-button,.uno-bar-block .uno-dropdown-click .uno-button{width:100%;text-align:left;padding:8px 16px}
.uno-main,#main{transition:margin-left .4s}
.uno-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.uno-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.uno-bar{width:100%;overflow:hidden}.uno-center .uno-bar{display:inline-block;width:auto}
.uno-bar .uno-bar-item{padding:8px 16px;float:left;width:auto;border:none;outline:none;display:block}
.uno-bar .uno-dropdown-hover,.uno-bar .uno-dropdown-click{position:static;float:left}
.uno-bar .uno-button{white-space:normal}
.uno-bar-block .uno-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;outline:none;white-space:normal}
.uno-bar-block.uno-center .uno-bar-item{text-align:center}.uno-block{display:block;width:100%}
.uno-responsive{overflow-x:auto}
.uno-container:after,.uno-container:before,.uno-panel:after,.uno-panel:before,.uno-row:after,.uno-row:before,.uno-row-padding:after,.uno-row-padding:before,
.uno-cell-row:before,.uno-cell-row:after,.uno-clear:after,.uno-clear:before,.uno-bar:before,.uno-bar:after{content:"";display:table;clear:both}
.uno-col,.uno-half,.uno-third,.uno-twothird,.uno-threequarter,.uno-quarter{float:left;width:100%}
.uno-col.s1{width:8.33333%}.uno-col.s2{width:16.66666%}.uno-col.s3{width:24.99999%}.uno-col.s4{width:33.33333%}
.uno-col.s5{width:41.66666%}.uno-col.s6{width:49.99999%}.uno-col.s7{width:58.33333%}.uno-col.s8{width:66.66666%}
.uno-col.s9{width:74.99999%}.uno-col.s10{width:83.33333%}.uno-col.s11{width:91.66666%}.uno-col.s12{width:99.99999%}
@media (min-width:601px){.uno-col.m1{width:8.33333%}.uno-col.m2{width:16.66666%}.uno-col.m3,.uno-quarter{width:24.99999%}.uno-col.m4,.uno-third{width:33.33333%}
.uno-col.m5{width:41.66666%}.uno-col.m6,.uno-half{width:49.99999%}.uno-col.m7{width:58.33333%}.uno-col.m8,.uno-twothird{width:66.66666%}
.uno-col.m9,.uno-threequarter{width:74.99999%}.uno-col.m10{width:83.33333%}.uno-col.m11{width:91.66666%}.uno-col.m12{width:99.99999%}}
@media (min-width:993px){.uno-col.l1{width:8.33333%}.uno-col.l2{width:16.66666%}.uno-col.l3{width:24.99999%}.uno-col.l4{width:33.33333%}
.uno-col.l5{width:41.66666%}.uno-col.l6{width:49.99999%}.uno-col.l7{width:58.33333%}.uno-col.l8{width:66.66666%}
.uno-col.l9{width:74.99999%}.uno-col.l10{width:83.33333%}.uno-col.l11{width:91.66666%}.uno-col.l12{width:99.99999%}}
.uno-content{max-width:980px;margin:auto}.uno-rest{overflow:hidden}
.uno-cell-row{display:table;width:100%}.uno-cell{display:table-cell}
.uno-cell-top{vertical-align:top}.uno-cell-middle{vertical-align:middle}.uno-cell-bottom{vertical-align:bottom}
.uno-hide{display:none!important}.uno-show-block,.uno-show{display:block!important}.uno-show-inline-block{display:inline-block!important}
@media (max-width:600px){.uno-modal-content{margin:0 10px;width:auto!important}.uno-modal{padding-top:30px}
.uno-dropdown-hover.uno-mobile .uno-dropdown-content,.uno-dropdown-click.uno-mobile .uno-dropdown-content{position:relative}	
.uno-hide-small{display:none!important}.uno-mobile{display:block;width:100%!important}.uno-bar-item.uno-mobile,.uno-dropdown-hover.uno-mobile,.uno-dropdown-click.uno-mobile{text-align:center}
.uno-dropdown-hover.uno-mobile,.uno-dropdown-hover.uno-mobile .uno-btn,.uno-dropdown-hover.uno-mobile .uno-button,.uno-dropdown-click.uno-mobile,.uno-dropdown-click.uno-mobile .uno-btn,.uno-dropdown-click.uno-mobile .uno-button{width:100%}}
@media (max-width:768px){.uno-modal-content{width:500px}.uno-modal{padding-top:50px}}
@media (min-width:993px){.uno-modal-content{width:900px}.uno-hide-large{display:none!important}.uno-sidebar.uno-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.uno-hide-medium{display:none!important}}
@media (max-width:992px){.uno-sidebar.uno-collapse{display:none}.uno-main{margin-left:0!important;margin-right:0!important}}
.uno-top,.uno-bottom{position:fixed;width:100%;z-index:1}.uno-top{top:0}.uno-bottom{bottom:0}
.uno-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.uno-display-topleft{position:absolute;left:0;top:0}.uno-display-topright{position:absolute;right:0;top:0}
.uno-display-bottomleft{position:absolute;left:0;bottom:0}.uno-display-bottomright{position:absolute;right:0;bottom:0}
.uno-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.uno-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.uno-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.uno-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.uno-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.uno-display-container:hover .uno-display-hover{display:block}.uno-display-container:hover span.uno-display-hover{display:inline-block}.uno-display-hover{display:none}
.uno-display-position{position:absolute}
.uno-circle{border-radius:50%}
.uno-round-small{border-radius:2px}.uno-round,.uno-round-medium{border-radius:4px}.uno-round-large{border-radius:8px}.uno-round-xlarge{border-radius:16px}.uno-round-xxlarge{border-radius:32px}
.uno-row-padding,.uno-row-padding>.uno-half,.uno-row-padding>.uno-third,.uno-row-padding>.uno-twothird,.uno-row-padding>.uno-threequarter,.uno-row-padding>.uno-quarter,.uno-row-padding>.uno-col{padding:0 8px}
.uno-container,.uno-panel{padding:0.01em 16px}.uno-panel{margin-top:16px;margin-bottom:16px}
.uno-code,.uno-codespan{font-family:Consolas,"courier new";font-size:16px}
.uno-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.uno-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.uno-card,.uno-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.uno-card-4,.uno-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.uno-spin{animation:uno-spin 2s infinite linear}@keyframes uno-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.uno-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.uno-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.uno-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.uno-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.uno-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.uno-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.uno-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.uno-animate-input{transition:width 0.4s ease-in-out}.uno-animate-input:focus{width:100%!important}
.uno-opacity,.uno-hover-opacity:hover{opacity:0.60}.uno-opacity-off,.uno-hover-opacity-off:hover{opacity:1}
.uno-opacity-max{opacity:0.25}.uno-opacity-min{opacity:0.75}
.uno-greyscale-max,.uno-grayscale-max,.uno-hover-greyscale:hover,.uno-hover-grayscale:hover{filter:grayscale(100%)}
.uno-greyscale,.uno-grayscale{filter:grayscale(75%)}.uno-greyscale-min,.uno-grayscale-min{filter:grayscale(50%)}
.uno-sepia{filter:sepia(75%)}.uno-sepia-max,.uno-hover-sepia:hover{filter:sepia(100%)}.uno-sepia-min{filter:sepia(50%)}
.uno-tiny{font-size:10px!important}.uno-small{font-size:12px!important}.uno-medium{font-size:15px!important}.uno-large{font-size:18px!important}
.uno-xlarge{font-size:24px!important}.uno-xxlarge{font-size:36px!important}.uno-xxxlarge{font-size:48px!important}.uno-jumbo{font-size:64px!important}
.uno-left-align{text-align:left!important}.uno-right-align{text-align:right!important}.uno-justify{text-align:justify!important}.uno-center{text-align:center!important}
.uno-border-0{border:0!important}.uno-border{border:1px solid #ccc!important}
.uno-border-top{border-top:1px solid #ccc!important}.uno-border-bottom{border-bottom:1px solid #ccc!important}
.uno-border-left{border-left:1px solid #ccc!important}.uno-border-right{border-right:1px solid #ccc!important}
.uno-topbar{border-top:6px solid #ccc!important}.uno-bottombar{border-bottom:6px solid #ccc!important}
.uno-leftbar{border-left:6px solid #ccc!important}.uno-rightbar{border-right:6px solid #ccc!important}
.uno-section,.uno-code{margin-top:16px!important;margin-bottom:16px!important}
.uno-margin{margin:16px!important}.uno-margin-top{margin-top:16px!important}.uno-margin-bottom{margin-bottom:16px!important}
.uno-margin-left{margin-left:16px!important}.uno-margin-right{margin-right:16px!important}
.uno-padding-small{padding:4px 8px!important}.uno-padding{padding:8px 16px!important}.uno-padding-large{padding:12px 24px!important}
.uno-padding-16{padding-top:16px!important;padding-bottom:16px!important}.uno-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.uno-padding-32{padding-top:32px!important;padding-bottom:32px!important}.uno-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.uno-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.uno-left{float:left!important}.uno-right{float:right!important}
.uno-button:hover{color:#000!important;background-color:#ccc!important}
.uno-transparent,.uno-hover-none:hover{background-color:transparent!important}
.uno-hover-none:hover{box-shadow:none!important}
/* Colors */
.uno-amber,.uno-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.uno-aqua,.uno-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.uno-blue,.uno-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.uno-light-blue,.uno-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.uno-brown,.uno-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.uno-cyan,.uno-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.uno-blue-grey,.uno-hover-blue-grey:hover,.uno-blue-gray,.uno-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.uno-green,.uno-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.uno-light-green,.uno-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.uno-indigo,.uno-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.uno-khaki,.uno-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.uno-lime,.uno-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.uno-orange,.uno-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.uno-deep-orange,.uno-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.uno-pink,.uno-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.uno-purple,.uno-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.uno-deep-purple,.uno-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.uno-red,.uno-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.uno-sand,.uno-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.uno-teal,.uno-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.uno-yellow,.uno-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.uno-white,.uno-hover-white:hover{color:#000!important;background-color:#fff!important}
.uno-black,.uno-hover-black:hover{color:#fff!important;background-color:#000!important}
.uno-grey,.uno-hover-grey:hover,.uno-gray,.uno-hover-gray:hover{color:#000!important;background-color:#bbb!important}
.uno-light-grey,.uno-hover-light-grey:hover,.uno-light-gray,.uno-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.uno-dark-grey,.uno-hover-dark-grey:hover,.uno-dark-gray,.uno-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.uno-pale-red,.uno-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.uno-pale-green,.uno-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.uno-pale-yellow,.uno-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.uno-pale-blue,.uno-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.uno-text-red,.uno-hover-text-red:hover{color:#f44336!important}
.uno-text-green,.uno-hover-text-green:hover{color:#4CAF50!important}
.uno-text-blue,.uno-hover-text-blue:hover{color:#2196F3!important}
.uno-text-yellow,.uno-hover-text-yellow:hover{color:#ffeb3b!important}
.uno-text-white,.uno-hover-text-white:hover{color:#fff!important}
.uno-text-black,.uno-hover-text-black:hover{color:#000!important}
.uno-text-grey,.uno-hover-text-grey:hover,.uno-text-gray,.uno-hover-text-gray:hover{color:#757575!important}
.uno-text-amber{color:#ffc107!important}
.uno-text-aqua{color:#00ffff!important}
.uno-text-light-blue{color:#87CEEB!important}
.uno-text-brown{color:#795548!important}
.uno-text-cyan{color:#00bcd4!important}
.uno-text-blue-grey,.uno-text-blue-gray{color:#607d8b!important}
.uno-text-light-green{color:#8bc34a!important}
.uno-text-indigo{color:#3f51b5!important}
.uno-text-khaki{color:#b4aa50!important}
.uno-text-lime{color:#cddc39!important}
.uno-text-orange{color:#ff9800!important}
.uno-text-deep-orange{color:#ff5722!important}
.uno-text-pink{color:#e91e63!important}
.uno-text-purple{color:#9c27b0!important}
.uno-text-deep-purple{color:#673ab7!important}
.uno-text-sand{color:#fdf5e6!important}
.uno-text-teal{color:#009688!important}
.uno-text-light-grey,.uno-hover-text-light-grey:hover,.uno-text-light-gray,.uno-hover-text-light-gray:hover{color:#f1f1f1!important}
.uno-text-dark-grey,.uno-hover-text-dark-grey:hover,.uno-text-dark-gray,.uno-hover-text-dark-gray:hover{color:#3a3a3a!important}
.uno-border-red,.uno-hover-border-red:hover{border-color:#f44336!important}
.uno-border-green,.uno-hover-border-green:hover{border-color:#4CAF50!important}
.uno-border-blue,.uno-hover-border-blue:hover{border-color:#2196F3!important}
.uno-border-yellow,.uno-hover-border-yellow:hover{border-color:#ffeb3b!important}
.uno-border-white,.uno-hover-border-white:hover{border-color:#fff!important}
.uno-border-black,.uno-hover-border-black:hover{border-color:#000!important}
.uno-border-grey,.uno-hover-border-grey:hover,.uno-border-gray,.uno-hover-border-gray:hover{border-color:#bbb!important}
